streamlit==1.55.0
pymatgen==2024.11.10
matminer==0.9.1
ase==3.23.0
scikit-learn==1.5.1
mendeleev==0.17.3
openbabel==3.1.1
cgcnn==4.0.4
mp-api==0.41.2
plotly==5.22.0
pandas==2.2.2
numpy==1.26.4
requests==2.32.3
openai==1.35.0
groq-sdk==0.9.0
geneticalgorithm==1.0.2
tensorflow==2.17.0
torch==2.3.1
sqlalchemy==2.0.30
streamlit-authenticator==0.3.2
aflow==0.0.10
oqmd==0.0.1
nomad-api==0.0.1
mpds-client==0.3.0
